* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px 100px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prev, .next {
  cursor: pointer;
}

.img {
  position: relative;
}

.immagine {
  display: none;
}

.pallini {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  opacity: 0.7;
  width: 200px;
  height: 50px;
  border-radius: 30px;
}

.pallini span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid 3px yellow;
}

.active {
  display: inline-block;
}

.pallini span.active {
  background-color: yellow;
}
